button {
  cursor: pointer;

  &.no-bg-br {
    background: none;
    border: none;
  }

}

.button {
  font-size: .8125rem;
  border: 2px solid transparent;
  transition: background-color var(--transition-time), color var(--transition-time), border-color var(--transition-time);
  display: inline-block;
  padding: 12px;
  border-radius: 5px;

  &.sh {
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  }

  &.nav-login-btn {
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 16px;
    border-color: white;
  }
}