.hero-section {
  overflow: hidden;

  .illustration {
    grid-area: illArea;
    position: relative;
    height: 255px;
    margin: 0 auto;
    max-width: 375px;
    margin-bottom: var(--padding-v);

    img {
      max-height: 204px;
      width: auto;
    }

    &::after {
      content: '';
      height: 203px;
      width: 580px;
      border-radius: 200px;
      background-color: var(--soft-blue);
      position: absolute;
      bottom: 0;
      left: 60px;
      z-index: -1;
    }
  }

  .content {
    grid-area: contentArea;

    .buttons {
      padding-top: var(--padding-h);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 343px;
      gap: 16px;
      margin: 0 auto;

      a {
        text-align: center;
      }
    }
  }
}

.features-section {
  overflow-x: hidden;
  max-width: calc(1110px + 740px);
  margin: 0 auto;

  .slider-container {
    margin-top: var(--padding-v);
  }
}

.download-section {
  margin-top: calc(var(--padding-h) * 2);

  .cards {
    display: grid;
    gap: var(--padding-v);
    margin-top: var(--padding-v);
    max-width: 912px;
  }

  article {
    text-align: center;
    padding: var(--padding-h);
    box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20);
    border-radius: 15px;

    img {
      width: auto;
      margin-bottom: var(--padding-h);
    }

    h3 {
      margin-bottom: 0;
      font-size: 1.25rem;
    }

    p {
      font-size: .9375rem;
      margin-top: 0;
    }

    hr {
      margin: var(--padding-h) 0;
      background-image: url('../assets/logos/bg-dots.svg');
      background-size: 276px 4px;
      background-position: center;
      max-width: 280px;
      height: 4px;
      border: none;
    }

    a {
      width: 100%;
    }
  }
}

.faq-section {
  margin-top: calc(var(--padding-v) * 2);

  .qna {
    margin-top: calc(var(--padding-v) * 2);
  }

  .qna-article {

    border-top: 1px solid var(--soft-gray);

    &:hover {
      h4 {
        color: var(--soft-red);
      }
    }

    &:last-child {
      border-bottom: 1px solid var(--soft-gray);
    }

    &.p-visible {
      p {
        display: inline-block;
      }

      img {
        transform: rotate(180deg);
      }
    }

    h4,
    p {
      font-size: .9375rem;
      font-weight: 400;
      text-align: left;
      transition: color var(--transition-time);
    }

    p {
      display: none;
    }
  }
}

.newsletter-section {
  background-color: var(--soft-blue);
  color: white;

  h3 {
    font-size: .75rem;
    letter-spacing: .2888rem;
    text-transform: uppercase;
  }

  h2 {
    font-size: 1.5rem;
  }

  form {
    margin: var(--padding-v) 0;
    max-width: 442px;
    margin: 0 auto;
    display: grid;
    gap: calc(var(--padding-h) / 2);

    .custom-input {
      border-radius: 5px;

      input {
        width: 100%;
        font-size: .875rem;
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid var(--bg-color);
        background-color: var(--bg-color);
        color: var(--very-dark-blue);
        transition: border-color var(--transition-time);

        &::placeholder {
          color: var(--grayish-blue);
        }

        &:focus {
          border-color: var(--soft-red);
        }

      }

      .error {
        display: none;
        font-weight: 500;
        font-size: .625rem;
        margin: 6px 20px;
        font-style: italic;
        letter-spacing: .0156rem;
      }

      &.error {
        background-color: var(--soft-red);
        position: relative;

        &::after {
          content: '';
          background-image: url('../assets/icons/icon-error.svg');
          background-size: 20px;
          width: 20px;
          height: 20px;
          top: 11px;
          right: 16px;
          position: absolute;
        }

        .error {
          display: inline-block;
        }

        input {
          border-color: var(--soft-red);
          padding-right: 46px;
        }
      }
    }

    button {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    .container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "contentArea illArea";
      gap: var(--padding-v);
      align-items: center;

      .illustration {
        height: 486px;
        max-width: unset;
        margin: unset;

        img {
          max-height: 386px;
        }

        &::after {
          height: 352px;
          width: 1000px;
        }
      }

      .content {

        h1,
        p {
          text-align: left;
        }

        .buttons {
          margin: unset;
        }
      }
    }
  }

  .download-section {
    max-width: 912px;
    margin: 0 auto;

    .cards {
      grid-template-columns: repeat(3, 1fr);

      article {
        align-self: flex-start;

        &:nth-child(2) {
          margin-top: var(--padding-v);
        }

        &:nth-child(3) {
          margin-top: calc(var(--padding-v) * 2);
        }
      }
    }
  }

  .newsletter-section {

    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      max-width: 442px;
      margin: 0 auto var(--padding-h);
    }

    form {
      grid-template-columns: auto 126px;
      gap: 16px;
    }
  }
}